
  .navbar {
      position: fixed;
      display: flex;
      width: 100%;
      height: 60px;
      background: #262626;
      border-bottom: 5px solid #ffb600;
  }

  .icon-text-span-div {
      display: flex;
      margin: 0 auto;
  }

  .text-div {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    margin-top: 16px;
    font-weight: 500;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.7);
  }

  .span-div {
    font-family: "Josefin Sans", sans-serif;
    font-size: 22px;
    margin-top: 16px;
    font-weight: 500;
    padding-top: 10px;
    color: #ffb600;
  }

  .icon-div {
      margin-top: 3px;
    width: 55px;
    height: 55px;
    background: transparent url("../images/Grey.png") 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 60px;
  }